/* RECURSOS USADOS
font-family: 'Roboto', sans-serif;
<i class="fa-solid fa-location-dot"></i>
● #212529;
● #707070;
● #F8F9FA o var(--light);
● #fff o var(--white);
● #28a745 o var(--success);
*/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
}

.row {
    padding-left: 20px;
    padding-right: 20px;
}


@media (min-width: 992px) {
    .row {
        padding-left: 70px;
        padding-right: 70px;
    }
}


/* Navbar */
.navbar {
    background-color: #28a745;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 18px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

#logo {
    width: 86px;
}

@media (min-width: 992px) {
    .navbar {
        padding-left: 70px;
        padding-right: 70px;
        margin-bottom: 70px;
    }
}


/* Content */
#cuerpo img {
    height: 180px;
    width: auto;
}

@media (max-width: 575.98px) {
    .col-lg {
        padding: 0;
    }

    .card {
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) {
    #cuerpo img {
        height: 230px;
    }

    #card_deck_1 {
        margin-bottom: 40px;
    }
}

#title {
    height: 72px;
    color: #212529;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
}

#brand {
    line-height: 19px;
    margin-bottom: 2px;
}

#brand , .price_1 {
    color: #707070;
    font-size: 16px;
}

#ubication {
    height: 15px;
    color: #707070;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
}

.price_2 {
    color: #28A745;
    font-size: 20px;
    font-weight: 500;
}


/* Sección cupones */
#coupon {
    height: 241px;
    padding-top: 25px;
    background-color: #28A745;
    margin-top: 15px;
}

.title_coupon {
    color: #FFFFFF;
    font-size: 21px;
    line-height: 24px;
    font-weight: 500;
}

.form-inline .form-control {
    color: #707070;
    font-weight: 300;
}

#coupon .btn {
    width: 113px;
    color: #212529;
    font-weight: 500;
}

#coupon .btn:hover {
    color: #FFF;
    background-color: #000000;
}

@media (min-width: 992px) {
    #coupon {
        margin-top: 50px;
    }

    .form-inline .form-control {
        width: 400px;
    }
}


/* Footer*/
footer {
    height: 100px;
    color: #707070;
    font-size: 16px;
    line-height: 19px;
}

footer #logo_black {
    width: 82px;
    padding-bottom: 10px;
    color: black;
    font-weight: 500;
}
